@import "tailwindcss";

@theme {
    /* Colores EXACTOS de tu diseño original */
    --color-primary: #0058bc;
    --color-primary-container: #d6e2ff;
    --color-background: #f9f9fb;
    --color-surface: #f9f9fb;
    --color-on-surface: #1a1c1d;
    --color-on-surface-variant: #44474e;
    --color-outline-variant: #c4c6d0;
    --color-secondary: #405e96;
    --color-secondary-fixed-dim: #adc6ff;

    /* Animaciones */
    --animate-fade-in: fadeIn 0.5s ease-out forwards;
}

@layer base {
    html {
        font-family: 'Inter', sans-serif;
    }

    body {
        @apply bg-background text-on-surface antialiased;
        font-family: 'Inter', sans-serif;
    }

    h1,
    h2 {
        font-family: 'Inter', sans-serif !important;
        font-weight: 900 !important;
        font-style: italic !important;
        letter-spacing: -0.05em !important;
        line-height: 0.9 !important;
        text-transform: none;
    }
}